.sentence {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.inline-combobox {
  width: 500px;
  margin-right: 5%;
  margin-left: 2px;
}

.inline-textbox {
  width: 500px;
  margin-right: 5%;
  margin-left: 4px;
}

.inline-textinput {
  width: 500px;
  margin-right: 5%;
  margin-left: 4px;
}

.input-container {
  display: flex;
  align-items: center;
}

.acceptance-criteria {
  display: flex;
}

.icon-container {
  align-self: flex-end;
  margin-left: 8px;
}